<div role="region" aria-label="Formulario de inicio de sesión/registro" class="flex flex-col items-center justify-center min-h-screen">
    <form novalidate class="flex flex-col gap-4 border-solid border-2 border-gray-300 p-6 rounded-lg shadow-xl p-20">     
            <div class="flex flex-col gap-2">
                <label for="price" class="block text-sm/6 font-medium">Correo electrónico</label>
                <div class="flex items-center rounded-xl bg-white/5 pl-3 outline-1 -outline-offset-1 outline-gray-600 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-500">
                    <input id="price" type="text" name="price" placeholder="0.00" class="block min-w-0 grow bg-gray-800 py-1.5 pr-3 pl-1 text-base text-white placeholder:text-gray-500 focus:outline-none sm:text-sm/6" />
                </div>
            </div>

            <div class="flex flex-col">
                <label for="password">Contraseña</label>
                <input name="password" type="password" required autocomplete="new-password" placeholder="Contraseña">
            </div>

            <div class="flex flex-col">
                <label for="password2">Repetir contraseña</label>
                <input name="password2" type="password" required autocomplete="new-password" placeholder="Repite la contraseña">
            </div>

            <div class="flex flex-col justify-between mt-4">
                <h6>¿no tienes cuenta? Registrate aquí</h6>
                <button type="button" class="bg-sky-500 p-3 rounded-xl">Iniciar sesión</button>
            </div>
    </form>
</div>
